<h1>Editando loja</h1>

<% form_for(@loja) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome_loja %><br />
    <%= f.text_field :nome_loja %>
  </p>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>

<%= link_to 'Listar', @loja %> |
<%= link_to 'Voltar', lojas_path %>
