<h1>Listing lojas</h1>

<table>
  <tr>
    <th>Nome loja</th>
  </tr>

<% @lojas.each do |loja| %>
  <tr>
    <td><%=h loja.nome_loja %></td>
    <td><%= link_to 'Listar', loja %></td>
    <td><%= link_to 'Editar', edit_loja_path(loja) %></td>
    <td><%= link_to 'Excluir', loja, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova loja', new_loja_path %>
