<h1>New loja</h1>

<% form_for(@loja) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome_loja %><br />
    <%= f.text_field :nome_loja %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', lojas_path %>

<script type="text/javascript">
  var lojas_form = new Ext.FormPanel({
      id: 'lojas_new',
      url: '/lojas',
      renderTo: 'form-lojas',
      height: 500,
      width: 800,
      frame: true,
      items: [
        {
          xtype: 'textfield',
          fieldLabel: 'nome_loja',
          name: 'loja[nome_loja]',
          id: 'loja_nome_loja',
          allowBlank: false
        }
      ],
      buttons: [
        {
          text: 'Salvar',
          handler: function(){
            lojas_form.getForm().submit({
              success: function(f,a){
                grid.store.reload();
                janela.close();
              },
              failure: function(f,a){
                if (a.failureType === Ext.form.Action.CONNECT_FAILURE){
                  Ext.Msg.alert('Falhou', 'Servidor informou:' +
                  a.response.status+' '+a.response.statusText);
                }
                if (a.failureType === Ext.form.Action.SERVER_INVALID){
                  Ext.Msg.alert('Atenção', a.result.errormsg);
                }
                else
                {
                  Ext.Msg.alert('Falhou', 'Erro Desconhecido');
                }
              }
            });
          }
        },
        {
          text: 'Limpar',
          handler: function(){
          lojas_form.getForm().reset();
        }
      }]
    });
</script>
<div id='form-lojas'></div>
