<h1>Editing pedido_de_assistencia</h1>

<% form_for(@pedido_de_assistencia) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :data %><br />
    <%= f.date_select :data %>
  </p>
  <p>
    <%= f.label :previsao_entrega %><br />
    <%= f.date_select :previsao_entrega %>
  </p>
  <p>
    <%= f.label :entrega %><br />
    <%= f.date_select :entrega %>
  </p>
  <p>
    <%= f.label :programacao %><br />
    <%= f.date_select :programacao %>
  </p>
  <p>
    <%= f.label :cliente_id %><br />
    <%= f.text_field :cliente_id %>
  </p>
  <p>
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </p>
  <p>
    <%= f.label :acrescimo %><br />
    <%= f.text_field :acrescimo %>
  </p>
  <p>
    <%= f.label :desconto %><br />
    <%= f.text_field :desconto %>
  </p>
  <p>
    <%= f.label :transportadora_id %><br />
    <%= f.text_field :transportadora_id %>
  </p>
  <p>
    <%= f.label :nome_comprador %><br />
    <%= f.text_field :nome_comprador %>
  </p>
  <p>
    <%= f.label :observacao %><br />
    <%= f.text_area :observacao %>
  </p>
  <p>
    <%= f.label :vendedor_id %><br />
    <%= f.text_field :vendedor_id %>
  </p>
  <p>
    <%= f.label :operador_id %><br />
    <%= f.text_field :operador_id %>
  </p>
  <p>
    <%= f.label :telemarketing_id %><br />
    <%= f.text_field :telemarketing_id %>
  </p>
  <p>
    <%= f.label :endereco_entrega %><br />
    <%= f.text_field :endereco_entrega %>
  </p>
  <p>
    <%= f.label :minuta_id %><br />
    <%= f.text_field :minuta_id %>
  </p>
  <p>
    <%= f.label :area_id %><br />
    <%= f.text_field :area_id %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :funcionario_estorno_id %><br />
    <%= f.text_field :funcionario_estorno_id %>
  </p>
  <p>
    <%= f.label :venda_externa %><br />
    <%= f.check_box :venda_externa %>
  </p>
  <p>
    <%= f.label :desconto_complementar %><br />
    <%= f.text_field :desconto_complementar %>
  </p>
  <p>
    <%= f.label :autorizador_desconto_id %><br />
    <%= f.text_field :autorizador_desconto_id %>
  </p>
  <p>
    <%= f.label :registro %><br />
    <%= f.date_select :registro %>
  </p>
  <p>
    <%= f.label :empresa_id %><br />
    <%= f.text_field :empresa_id %>
  </p>
  <p>
    <%= f.label :operador_estorno_id %><br />
    <%= f.text_field :operador_estorno_id %>
  </p>
  <p>
    <%= f.label :autorizador_id %><br />
    <%= f.text_field :autorizador_id %>
  </p>
  <p>
    <%= f.label :plano_de_pagamento %><br />
    <%= f.text_field :plano_de_pagamento %>
  </p>
  <p>
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </p>
  <p>
    <%= f.label :valor_normal %><br />
    <%= f.text_field :valor_normal %>
  </p>
  <p>
    <%= f.label :gera_minuta %><br />
    <%= f.check_box :gera_minuta %>
  </p>
  <p>
    <%= f.label :data_estorno %><br />
    <%= f.date_select :data_estorno %>
  </p>
  <p>
    <%= f.label :identificador_venda %><br />
    <%= f.text_field :identificador_venda %>
  </p>
  <p>
    <%= f.label :total_desconto_item %><br />
    <%= f.text_field :total_desconto_item %>
  </p>
  <p>
    <%= f.label :nosso_numero %><br />
    <%= f.text_field :nosso_numero %>
  </p>
  <p>
    <%= f.label :status_estorno %><br />
    <%= f.check_box :status_estorno %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @pedido_de_assistencia %> |
<%= link_to 'Back', pedidos_de_assistencia_path %>