<p>
  <b>Data:</b>
  <%=h @pedido_de_assistencia.data %>
</p>

<p>
  <b>Previsao entrega:</b>
  <%=h @pedido_de_assistencia.previsao_entrega %>
</p>

<p>
  <b>Entrega:</b>
  <%=h @pedido_de_assistencia.entrega %>
</p>

<p>
  <b>Programacao:</b>
  <%=h @pedido_de_assistencia.programacao %>
</p>

<p>
  <b>Cliente:</b>
  <%=h @pedido_de_assistencia.cliente_id %>
</p>

<p>
  <b>Valor:</b>
  <%=h @pedido_de_assistencia.valor %>
</p>

<p>
  <b>Acrescimo:</b>
  <%=h @pedido_de_assistencia.acrescimo %>
</p>

<p>
  <b>Desconto:</b>
  <%=h @pedido_de_assistencia.desconto %>
</p>

<p>
  <b>Transportadora:</b>
  <%=h @pedido_de_assistencia.transportadora_id %>
</p>

<p>
  <b>Nome comprador:</b>
  <%=h @pedido_de_assistencia.nome_comprador %>
</p>

<p>
  <b>Observacao:</b>
  <%=h @pedido_de_assistencia.observacao %>
</p>

<p>
  <b>Vendedor:</b>
  <%=h @pedido_de_assistencia.vendedor_id %>
</p>

<p>
  <b>Operador:</b>
  <%=h @pedido_de_assistencia.operador_id %>
</p>

<p>
  <b>Telemarketing:</b>
  <%=h @pedido_de_assistencia.telemarketing_id %>
</p>

<p>
  <b>Endereco entrega:</b>
  <%=h @pedido_de_assistencia.endereco_entrega %>
</p>

<p>
  <b>Minuta:</b>
  <%=h @pedido_de_assistencia.minuta_id %>
</p>

<p>
  <b>Area:</b>
  <%=h @pedido_de_assistencia.area_id %>
</p>

<p>
  <b>Status:</b>
  <%=h @pedido_de_assistencia.status %>
</p>

<p>
  <b>Funcionario estorno:</b>
  <%=h @pedido_de_assistencia.funcionario_estorno_id %>
</p>

<p>
  <b>Venda externa:</b>
  <%=h @pedido_de_assistencia.venda_externa %>
</p>

<p>
  <b>Desconto complementar:</b>
  <%=h @pedido_de_assistencia.desconto_complementar %>
</p>

<p>
  <b>Autorizador desconto:</b>
  <%=h @pedido_de_assistencia.autorizador_desconto_id %>
</p>

<p>
  <b>Registro:</b>
  <%=h @pedido_de_assistencia.registro %>
</p>

<p>
  <b>Empresa:</b>
  <%=h @pedido_de_assistencia.empresa_id %>
</p>

<p>
  <b>Operador estorno:</b>
  <%=h @pedido_de_assistencia.operador_estorno_id %>
</p>

<p>
  <b>Autorizador:</b>
  <%=h @pedido_de_assistencia.autorizador_id %>
</p>

<p>
  <b>Plano de pagamento:</b>
  <%=h @pedido_de_assistencia.plano_de_pagamento %>
</p>

<p>
  <b>Tipo:</b>
  <%=h @pedido_de_assistencia.tipo %>
</p>

<p>
  <b>Valor normal:</b>
  <%=h @pedido_de_assistencia.valor_normal %>
</p>

<p>
  <b>Gera minuta:</b>
  <%=h @pedido_de_assistencia.gera_minuta %>
</p>

<p>
  <b>Data estorno:</b>
  <%=h @pedido_de_assistencia.data_estorno %>
</p>

<p>
  <b>Identificador venda:</b>
  <%=h @pedido_de_assistencia.identificador_venda %>
</p>

<p>
  <b>Total desconto item:</b>
  <%=h @pedido_de_assistencia.total_desconto_item %>
</p>

<p>
  <b>Nosso numero:</b>
  <%=h @pedido_de_assistencia.nosso_numero %>
</p>

<p>
  <b>Status estorno:</b>
  <%=h @pedido_de_assistencia.status_estorno %>
</p>


<%= link_to 'Edit', edit_pedido_de_assistencia_path(@pedido_de_assistencia) %> |
<%= link_to 'Back', pedidos_de_assistencia_path %>