<p>
  <b>Pedido:</b>
  <%=h @pedido_de_assistencia.id %>
</p>

<p>
  <b>Nosso Número:</b>
  <%=h @pedido_de_assistencia.nosso_numero %>
</p>

<p>
  <b>Tipo:</b>
  <%=h @pedido_de_assistencia.tipo == 'I' ? 'Interno' : 'Externo' %>
</p>

<p>
  <b>Data:</b>
  <%=h @pedido_de_assistencia.data.to_s %>
</p>

<p>
  <b>Previsao entrega:</b>
  <%=h @pedido_de_assistencia.previsao_entrega.to_s %>
</p>

<p>
  <b>Entrega:</b>
  <%=h @pedido_de_assistencia.entrega.to_s %>
</p>

<p>
  <b>Programacao:</b>
  <%=h @pedido_de_assistencia.programacao.to_s %>
</p>

<p>
  <b>Cliente:</b>
  <%=h @pedido_de_assistencia.cliente.razao_social if @pedido_de_assistencia.cliente %>
</p>

<p>
  <b>Transportadora:</b>
  <%=h @pedido_de_assistencia.transportadora.razao_social if @pedido_de_assistencia.transportadora %>
</p>

<p>
  <b>Comprador:</b>
  <%=h @pedido_de_assistencia.nome_comprador %>
</p>

<p>
  <b>Observacao:</b>
  <%=h @pedido_de_assistencia.observacao %>
</p>

<p>
  <b>Endereco entrega:</b>
  <%=h @pedido_de_assistencia.endereco_entrega %>
</p>

<p>
  <b>Minuta:</b>
  <%=h @pedido_de_assistencia.minuta_id %>
</p>

<p>
  <b>Area:</b>
  <%=h @pedido_de_assistencia.area.descricao if @pedido_de_assistencia.area %>
</p>

<p>
  <b>Operador:</b>
  <%=h @pedido_de_assistencia.operador.nome if @pedido_de_assistencia.operador%>
</p>

<p>
  <b>Telemarketing:</b>
  <%=h @pedido_de_assistencia.telemarketing_id %>
</p>

<p>
  <b>Empresa:</b>
  <%=h @pedido_de_assistencia.empresa_id == 1 ? 'TUBFORM' : 'MADEFORM' %>
</p>

<p>
  <b>Status:</b>
  <%=h  @pedido_de_assistencia.status %>
  </p>

<p>
  <b>Estorno:</b>
  <%=h @pedido_de_assistencia.status_estorno %>
</p>

<p>
  <b>Operador estorno:</b>
  <%=h @pedido_de_assistencia.operador_estorno_id %>
</p>


<p>
  <b>Venda externa:</b>
  <%=h @pedido_de_assistencia.venda_externa == 'true' ? 'Sim' : 'Não' %>
</p>


<%= link_to 'Alterar', edit_pedido_path(@pedido_de_assistencia) %> |
<%= link_to 'Voltar', pedidos_path %> |
<%= link_to 'Aprovar', :action => :aprovar, :id => @pedido_de_assistencia.id %> |
<table border="1" class="itable">
  <tr>
    <th colspan="9">Itens do Pedido</th>
  </tr>
  <tr>
    <th>Codigo</th>
    <th>Descrição</th>
    <th align="center">Qtde</th>
    <th>Valor Tabela</th>
    <th>Valor Venda</th>
    <th>Sub Total</th>
    <th colspan="2">Opções</th>
  </tr>

  <% total = 0 %>
<% subtotal = 0 %>
<% for i in @pedido_de_assistencia.itens %>
    <tr>
      <td align="center"><%= i.produto_id  %></td>
      <td align="center"><%= i.produto.descricao  %></td>
      <td align="center"><%= i.quantidade.to_i if i.quantidade  %></td>
      <td align="right"><%= i.valor_tabela %></td>
      <td align="right"><%= i.valor_venda %></td>
      <td align="right"><%= i.sub_total.real.real_formatado %></td>
      <td><%= link_to 'Editar', :controller => :itens_pedido_de_assistencia, :action => :edit, :id => i.id %></td>
      <td><%= link_to 'Excluir', i, :confirm => "Excluir Item #{i.id}, Confirma?", :method => :delete %></td>
    </tr>
<% end %>
    <tr bgcolor="#EAAA0C">
      <td colspan="5" align="right"><b>Soma Geral do Pedido:</b></td>
      <td colspan="2" align="right"><b><span id="total_pedido"><%= @pedido_de_assistencia.valor.real.real_formatado %></span></b></td>
      <td colspan="4" rowspan="9" align="center"><%= link_to '<b>Adiciona Item</b>', :controller => 'itens_pedido_de_assistencia', :action => 'new', :id => @pedido_de_assistencia.id %>
    </tr>
  <tr>
    <td colspan="5" align="right">Desconto do Pedido (%):</td>
    <td colspan="2" align="right"><%= sprintf("%.2f", @pedido_de_assistencia.desconto ) if @pedido_de_assistencia.desconto %></td>
  </tr>
  <tr>
    <td colspan="5" align="right">Desconto do Pedido (Valor):</td>
    <td colspan="2" align="right"><%= (@pedido_de_assistencia.somar_itens * @pedido_de_assistencia.desconto / 100).real.real_formatado if @pedido_de_assistencia.desconto %></td>
  </tr>
  <tr>
    <td colspan="5" align="right">Valor Final do Pedido:</td>
    <td colspan="2" align="right"><%= @pedido_de_assistencia.valor.real.real_formatado %></td>
  </tr>
  <tr>
    <td colspan="5" align="right">Soma dos Itens:</td>
    <td colspan="2" align="right"><%= @pedido_de_assistencia.somar_itens.real.real_formatado %></td>
  </tr>
</table>
<br/><br/>
<table>
  <tr>
    <td><%= button_to 'Alterar Data Entrega', :action => :alterar_data_entrega_pedido, :id => @pedido_de_assistencia.id %></td>
  </tr>
</table>

<%= link_to 'Voltar', pedidos_path %>

<br />
<%= link_to 'Impressão do Pedido', :controller => 'pedidos', :action => 'impressao', :id => @pedido_de_assistencia.id %>

