<h1>New componente</h1>

<% form_for(@componente) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </p>
  <p>
    <%= f.label :altura %><br />
    <%= f.text_field :altura %>
  </p>
  <p>
    <%= f.label :largura %><br />
    <%= f.text_field :largura %>
  </p>
  <p>
    <%= f.label :espessura %><br />
    <%= f.text_field :espessura %>
  </p>
  <p>
    <%= f.label :percentual_de_perda %><br />
    <%= f.text_field :percentual_de_perda %>
  </p>
  <p>
    <%= f.label :tamanho_chapa %><br />
    <%= f.text_field :tamanho_chapa %>
  </p>
  <p>
    <%= f.label :cor_id %><br />
    <%= f.text_field :cor_id %>
  </p>
  <p>
    <%= f.label :manufatura %><br />
    <%= f.check_box :manufatura %>
  </p>
  <p>
    <%= f.label :quantidade_lote %><br />
    <%= f.text_field :quantidade_lote %>
  </p>
  <p>
    <%= f.label :coladeira %><br />
    <%= f.check_box :coladeira %>
  </p>
  <p>
    <%= f.label :furadeira %><br />
    <%= f.check_box :furadeira %>
  </p>
  <p>
    <%= f.label :pintura %><br />
    <%= f.check_box :pintura %>
  </p>
  <p>
    <%= f.label :embalagem %><br />
    <%= f.check_box :embalagem %>
  </p>
  <p>
    <%= f.label :produto_elaborado %><br />
    <%= f.check_box :produto_elaborado %>
  </p>
  <p>
    <%= f.label :valor_metro_quadrado %><br />
    <%= f.text_field :valor_metro_quadrado %>
  </p>
  <p>
    <%= f.label :valor_componente %><br />
    <%= f.text_field :valor_componente %>
  </p>
  <p>
    <%= f.label :ativo %><br />
    <%= f.check_box :ativo %>
  </p>
  <p>
    <%= f.label :componente_terceiro %><br />
    <%= f.check_box :componente_terceiro %>
  </p>
  <p>
    <%= f.label :usinagem %><br />
    <%= f.check_box :usinagem %>
  </p>
  <p>
    <%= f.label :serraria %><br />
    <%= f.check_box :serraria %>
  </p>
  <p>
    <%= f.label :materia_prima_id %><br />
    <%= f.text_field :materia_prima_id %>
  </p>
  <p>
    <%= f.label :grupo_componente_id %><br />
    <%= f.text_field :grupo_componente_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', componentes_path %>