<p>
  <b>Descricao:</b>
  <%=h @componente.descricao %>
</p>

<p>
  <b>Altura:</b>
  <%=h @componente.altura %>
</p>

<p>
  <b>Largura:</b>
  <%=h @componente.largura %>
</p>

<p>
  <b>Espessura:</b>
  <%=h @componente.espessura %>
</p>

<p>
  <b>Percentual de perda:</b>
  <%=h @componente.percentual_de_perda %>
</p>

<p>
  <b>Tamanho chapa:</b>
  <%=h @componente.tamanho_chapa %>
</p>

<p>
  <b>Cor:</b>
  <%=h @componente.cor_id %>
</p>

<p>
  <b>Manufatura:</b>
  <%=h @componente.manufatura %>
</p>

<p>
  <b>Quantidade lote:</b>
  <%=h @componente.quantidade_lote %>
</p>

<p>
  <b>Coladeira:</b>
  <%=h @componente.coladeira %>
</p>

<p>
  <b>Furadeira:</b>
  <%=h @componente.furadeira %>
</p>

<p>
  <b>Pintura:</b>
  <%=h @componente.pintura %>
</p>

<p>
  <b>Embalagem:</b>
  <%=h @componente.embalagem %>
</p>

<p>
  <b>Produto elaborado:</b>
  <%=h @componente.produto_elaborado %>
</p>

<p>
  <b>Valor metro quadrado:</b>
  <%=h @componente.valor_metro_quadrado %>
</p>

<p>
  <b>Valor componente:</b>
  <%=h @componente.valor_componente %>
</p>

<p>
  <b>Ativo:</b>
  <%=h @componente.ativo %>
</p>

<p>
  <b>Componente terceiro:</b>
  <%=h @componente.componente_terceiro %>
</p>

<p>
  <b>Usinagem:</b>
  <%=h @componente.usinagem %>
</p>

<p>
  <b>Serraria:</b>
  <%=h @componente.serraria %>
</p>

<p>
  <b>Materia prima:</b>
  <%=h @componente.materia_prima_id %>
</p>

<p>
  <b>Grupo componente:</b>
  <%=h @componente.grupo_componente_id %>
</p>


<%= link_to 'Editar', edit_componente_path(@componente) %> |
<%= link_to 'Voltar', componentes_path %>
