<h1>Listing parametros</h1>

<table>
  <tr>
    <th>Chave</th>
    <th>Valor</th>
    <th>Descricao</th>
    <th>Empresa</th>
  </tr>

<% @parametros.each do |parametro| %>
  <tr>
    <td><%=h parametro.chave %></td>
    <td><%=h parametro.valor %></td>
    <td><%=h parametro.descricao %></td>
    <td><%=h parametro.empresa_id %></td>
    <td><%= link_to 'Show', parametro %></td>
    <td><%= link_to 'Edit', edit_parametro_path(parametro) %></td>
    <td><%= link_to 'Destroy', parametro, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New parametro', new_parametro_path %>