<div id="notas_fiscais_grid"></div>
<script type="text/javascript">
Ext.onReady(Nota_Fiscal.init);
</script>

<h4>Notas Emitidas</h4>

<table border="1">
  <tr>
    <th>Nr Nota</th>
    <th>Selo</th>
    <th align="center">Serie</th>
    <th align="left">Cliente</th>
    <th align="right">Valor da Nota</th>
    <th align="right">% ICMS</th>
    <th align="right">Valor ICMS</th>
    <th>Impressa?</th>
    <th colspan="3">Ação</th>
  </tr>

<% @notas_fiscais.each do |n| %>
  <tr>
    <td align="center"><%=h n.numero_nota %></td>
    <td align="center"><%=h n.selo %></td>
    <td align="center"><%=h n.serie %></td>
    <td align="left"><%=h n.cliente.razao_social %></td>
    <td align="right"><%=h n.total_nota.real.real_formatado %></td>
    <td align="right"><%=h n.percentual_icms.to_s + ' %' %></td>
    <td align="right"><%=h n.valor_icms.real.real_formatado %></td>
    <td align="center"><%=h n.status == 'S' ? 'Sim' : 'Não' %></td>
    <td><%= link_to 'Exibir', n %></td>
    <td><%= link_to 'Alterar', edit_nota_fiscal_path(n) if n.status != 'S' %></td>
    <td><%= link_to 'Excluir', n, :confirm => "Excluir Nota Numero #{n.numero_nota}, Tem Certeza?", :method => :delete if n.status != 'S' %></td>
  </tr>
<% end %>
</table>

<br />
  <% form_tag '/notas_fiscais/nota_fiscal_populada_via_pedido' do -%>
    <%= label_tag 'Importar pedidos para uma nova nota fiscal' %><br />
    <%= text_field_tag :id, nil,:onkeypress => 'mascara(this, numPedidos)' %><br />
    <%= submit_tag 'importar' %><br />
  <% end -%>
<br />

<%= link_to 'Nova Nota Fiscal', new_nota_fiscal_path %>
