<h1>New nota_fiscal</h1>

<% form_for(@nota_fiscal) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form",  :locals => { :f => f} %>

  <p>
    <%= link_to 'Adicionar Itens'  %>
  </p>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>

<%= link_to 'Retornar', notas_fiscais_path %>