<h1>New nota_fiscal</h1>

<% form_for(@nota_fiscal) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :numero_nota %><br />
    <%= f.text_field :numero_nota %>
  </p>
  <p>
    <%= f.label :selo %><br />
    <%= f.text_field :selo %>
  </p>
  <p>
    <%= f.label :serie %><br />
    <%= f.text_field :serie %>
  </p>
  <p>
    <%= f.label :cliente_id %><br />
    <%= f.text_field :cliente_id %>
  </p>
  <p>
    <%= f.label :percentual_icms %><br />
    <%= f.text_field :percentual_icms %>
  </p>
  <p>
    <%= f.label :emissao %><br />
    <%= f.date_select :emissao %>
  </p>
  <p>
    <%= f.label :total_mercadoria %><br />
    <%= f.text_field :total_mercadoria %>
  </p>
  <p>
    <%= f.label :valor_frete %><br />
    <%= f.text_field :valor_frete %>
  </p>
  <p>
    <%= f.label :cfop %><br />
    <%= f.text_field :cfop %>
  </p>
  <p>
    <%= f.label :natureza_operacao %><br />
    <%= f.text_field :natureza_operacao %>
  </p>
  <p>
    <%= f.label :valor_ipi %><br />
    <%= f.text_field :valor_ipi %>
  </p>
  <p>
    <%= f.label :valor_desconto %><br />
    <%= f.text_field :valor_desconto %>
  </p>
  <p>
    <%= f.label :total_nota %><br />
    <%= f.text_field :total_nota %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>
  <p>
    <%= f.label :base_calculo_icms %><br />
    <%= f.text_field :base_calculo_icms %>
  </p>
  <p>
    <%= f.label :valor_icms %><br />
    <%= f.text_field :valor_icms %>
  </p>
  <p>
    <%= f.label :qtde_volumes %><br />
    <%= f.text_field :qtde_volumes %>
  </p>
  <p>
    <%= f.label :entrada %><br />
    <%= f.date_select :entrada %>
  </p>
  <p>
    <%= f.label :saida %><br />
    <%= f.date_select :saida %>
  </p>
  <p>
    <%= f.label :transportadora_id %><br />
    <%= f.text_field :transportadora_id %>
  </p>
  <p>
    <%= f.label :percentual_desconto %><br />
    <%= f.text_field :percentual_desconto %>
  </p>
  <p>
    <%= f.label :observacao %><br />
    <%= f.text_area :observacao %>
  </p>
  <p>
    <%= f.label :base_calculo_icms_substituicao_tributaria %><br />
    <%= f.text_field :base_calculo_icms_substituicao_tributaria %>
  </p>
  <p>
    <%= f.label :percentual_icms_substituicao_tributaria %><br />
    <%= f.text_field :percentual_icms_substituicao_tributaria %>
  </p>
  <p>
    <%= f.label :valor_icms_substituicao_tributaria %><br />
    <%= f.text_field :valor_icms_substituicao_tributaria %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', notas_fiscais_path %>