<p>
  <b>Numero nota:</b>
  <%=h @nota_fiscal.numero_nota %>
</p>

<p>
  <b>Selo:</b>
  <%=h @nota_fiscal.selo %>
</p>
<p>
  <b>Serie:</b>
  <%=h @nota_fiscal.serie %>
</p>
<p>
  <b>Cliente:</b>
  <%#=h @nota_fiscal.cliente.razao_social %>
</p>

<p>
  <b>Percentual icms:</b>
  <%=h @nota_fiscal.percentual_icms.to_s + ' %' %>
</p>

<p>
  <b>Emissao:</b>
  <%=h @nota_fiscal.emissao.to_s_br %>
</p>

<p>
  <b>Total mercadoria:</b>
  <%=h @nota_fiscal.total_mercadoria.real.real_formatado %>
</p>

<p>
  <b>Valor frete:</b>
  <%=h @nota_fiscal.valor_frete.real.real_formatado %>
</p>

<p>
  <b>Cfop:</b>
  <%=h @nota_fiscal.cfop %>
</p>

<p>
  <b>Natureza operacao:</b>
  <%=h @nota_fiscal.natureza_operacao %>
</p>

<p>
  <b>Valor ipi:</b>
  <%=h @nota_fiscal.valor_ipi.real.real_formatado %>
</p>

<p>
  <b>Valor desconto:</b>
  <%=h @nota_fiscal.valor_desconto.real.real_formatado %>
</p>

<p>
  <b>Total nota:</b>
  <%=h @nota_fiscal.total_nota.real.real_formatado %>
</p>

<p>
  <b>Status:</b>
  <%=h (@nota_fiscal.status == 'S' ? 'Impressa' : 'Não Impressa') %>
</p>

<p>
  <b>Base calculo icms:</b>
  <%=h @nota_fiscal.base_calculo_icms.real.real_formatado %>
</p>

<p>
  <b>Valor icms:</b>
  <%=h @nota_fiscal.valor_icms.real.real_formatado %>
</p>

<p>
  <b>Qtde volumes:</b>
  <%=h @nota_fiscal.qtde_volumes %>
</p>

<p>
  <b>Entrada:</b>
  <%=h @nota_fiscal.entrada.to_s_br %>
</p>

<p>
  <b>Saida:</b>
  <%=h @nota_fiscal.saida.to_s_br %>
</p>

<p>
  <b>Transportadora:</b>
  <%=h @nota_fiscal.transportadora_id %>
</p>

<p>
  <b>Percentual desconto:</b>
  <%=h @nota_fiscal.percentual_desconto.to_s + ' %' %>
</p>

<p>
  <b>Observacao:</b>
  <%=h @nota_fiscal.observacao %>
</p>

<p>
  <b>Base calculo icms substituicao tributaria:</b>
  <%=h @nota_fiscal.base_calculo_icms_substituicao_tributaria.real.real_formatado %>
</p>

<p>
  <b>Percentual icms substituicao tributaria:</b>
  <%=h @nota_fiscal.percentual_icms_substituicao_tributaria.to_s + ' %' %>
</p>

<p>
  <b>Valor icms substituicao tributaria:</b>
  <%=h @nota_fiscal.valor_icms_substituicao_tributaria.real.real_formatado %>
</p>

<table with="100%" border="1">
  <tr>
    <th>Código</th>
    <th>Descrição Produto</th>
    <th>Unidade</th>
    <th>Quantidade</th>
    <th>Valor Unitario</th>
    <th>ICMS %</th>
    <th>IPI %</th>
    <th>Valor Total</th>
    <th colspan="2">Opções</th>
  </tr>


  <% for i in @nota_fiscal.itens %>
    <tr>
      <td><%= i.produto_id  %></td>
      <td><%= i.produto.descricao if i.produto.descricao%></td>
      <td><%= i.unidade if i.unidade %></td>
      <td><%= i.quantidade  %></td>
      <td><%= i.valor_item.real.real_formatado  %></td>
      <td><%= i.perc_icms %></td>
      <td><%= i.perc_ipi %></td>
      <td><%= i.valor_total.real.real_formatado %></td>
      <td><%= link_to 'Editar', :controller => :itens_nota_fiscal, :action => :edit, :id => i.id %></td>
      <td><%= link_to 'Excluir', i, :confirm => 'Você tem certeza?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<h2> Valor total da Nota: <span id="total_pedido"><%= @nota_fiscal.total_nota.real.real_formatado %></span></h2>

<%= link_to 'Alterar', edit_nota_fiscal_path(@nota_fiscal) if @nota_fiscal.status != 'S' %> |
<%= link_to 'Retornar', notas_fiscais_path %>
<p>
<%= link_to 'Adicionar Item', :controller => 'itens_nota_fiscal', :action => 'new', :id => (@nota_fiscal.id  if @nota_fiscal.status != 'S')  %>
</p>
<br />
<%= link_to 'Impressão da Nota Fiscal', :controller => 'impressao_nota', :action => 'imprime_nota', :id => @nota_fiscal.id, :method => :post %>

