<h1>Editar fornecedor</h1>

<% form_for(@fornecedor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :endereco %><br />
    <%= f.text_field :endereco %>
  </p>
  <p>
    <%= f.label :cnpj %><br />
    <%= f.text_field :cnpj, :onkeypress => 'mascara(this,cpf_cnpj)', :maxlength => 18 %>
  </p>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>

<%= link_to 'Listar', @fornecedor %> |
<%= link_to 'Voltar', fornecedores_path %>
