<h1>Listando fornecedores</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Endereco</th>
    <th>Cnpj</th>
  </tr>

<% @fornecedores.each do |fornecedor| %>
  <tr>
    <td><%=h fornecedor.nome %></td>
    <td><%=h fornecedor.endereco %></td>
    <td><%=h fornecedor.cnpj %></td>
    <td><%= link_to 'Listar', fornecedor %></td>
    <td><%= link_to 'Editar', edit_fornecedor_path(fornecedor) %></td>
    <td><%= link_to 'Excluir', fornecedor, :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo fornecedor', new_fornecedor_path %>
