<p>
  <b>Tipo:</b>
  <%=h @pedido.tipo == 'I' ? 'Interno' : 'Externo' %>
</p>

<p>
  <b>Data:</b>
  <%=h @pedido.data.to_s_br %>
</p>

<p>
  <b>Previsao entrega:</b>
  <%=h @pedido.previsao_entrega.to_s_br %>
</p>

<p>
  <b>Entrega:</b>
  <%=h @pedido.entrega.to_s_br %>
</p>

<p>
  <b>Programacao:</b>
  <%=h @pedido.programacao.to_s_br %>
</p>

<p>
  <b>Cliente:</b>
  <%=h @pedido.cliente.razao_social if @pedido.cliente %>
</p>

<p>
  <b>Valor:</b>
  <%=h @pedido.valor.to_extenso_real if @pedido.valor %>
</p>

<p>
  <b>Acrescimo:</b>
  <%=h @pedido.acrescimo.to_extenso_real if @pedido.acrescimo %>
</p>

<p>
  <b>Desconto:</b>
  <%=h @pedido.desconto.to_extenso_real if @pedido.desconto %>
</p>

<p>
  <b>Transportadora:</b>
  <%=h @pedido.transportadora.razao_social if @pedido.transportadora %>
</p>

<p>
  <b>Comprador:</b>
  <%=h @pedido.comprador %>
</p>

<p>
  <b>Observacao:</b>
  <%=h @pedido.observacao %>
</p>

<p>
  <b>Endereco entrega:</b>
  <%=h @pedido.endereco_entrega %>
</p>

<p>
  <b>Minuta:</b>
  <%=h @pedido.minuta_id %>
</p>

<p>
  <b>Area:</b>
  <%=h @pedido.area.descricao if @pedido.area %>
</p>

<p>
  <b>Operador:</b>
  <%=h @pedido.operador.nome if @pedido.operador%>
</p>

<p>
  <b>Telemarketing:</b>
  <%=h @pedido.telemarketing_id %>
</p>

<p>
  <b>Empresa:</b>
  <%=h @pedido.empresa_id == 1 ? 'TUBFORM' : 'MADEFORM' %>
</p>

<p>
  <b>Status:</b>
  <%=h  @pedido.status %>
  </p>

<p>
  <b>Estorno:</b>
  <%=h @pedido.estorno %>
</p>

<p>
  <b>Operador estorno:</b>
  <%=h @pedido.operador_estorno_id %>
</p>

<p>
  <b>Comissao vendedor:</b>
  <%=h @pedido.comissao_vendedor %>
</p>

<p>
  <b>Comissao telemarketing:</b>
  <%=h @pedido.comissao_telemarketing %>
</p>

<p>
  <b>Venda externa:</b>
  <%=h @pedido.venda_externa == 'true' ? 'Sim' : 'Não' %>
</p>

<p>
  <b>Desconto complementar:</b>
  <%=h @pedido.desconto_complementar %>
</p>

<p>
  <b>Autorizador:</b>
  <%=h @pedido.autorizador_id %>
</p>

<table with="100%" border="1">
  <tr>
      <th>Cod Produto</th>
       <th>Descrição</th>
       <th>Quantidade</th>
       <th>Valor Venda</th>
       <th>Subtotal</th>
       <th colspan="2">Opções</th>
  </tr>


<% total = 0 %>
<% for i in @pedido.item_pedidos %>
  <%  subtotal = i.quantidade * i.valor_venda %>
  <% total += subtotal %>
    <tr>
      <td><%= i.produto_id  %></td>
      <td><%= i.produto.descricao  %></td>
       <td><%= i.quantidade  %></td>
      <td><%= i.valor_venda  %></td>
      <td><%= subtotal %></td>
      <td><%= link_to 'Editar', :controller => :item_pedidos, :action => :edit, :id => i.id %></td>
      <td><%= link_to 'Deletar', i, :confirm => 'Você tem certeza?', :method => :delete %></td>
    </tr>
<% end %>
</table>

<h2> Valor total do pedido: <span id="total_pedido"><%= total %></span></h2>

<%= link_to 'Item Pedido', :controller => 'item_pedidos', :action => 'new', :id => @pedido.id %> |
<%= link_to 'Alterar', edit_pedido_path(@pedido) %> |
<%= button_to 'Aprovar', :action => :aprovar, :id => @pedido.id %>

<%= button_to 'Comissão Acordada', :action => :comissao_acordada, :id => @pedido.id %>

<%= button_to 'Desconto', :action => :permitir_desconto_no_pedido, :id => @pedido.id %>

<%= link_to 'Voltar', pedidos_path %>