<p>
  <b>Tipo:</b>
  <%=h @pedido.tipo == 'I' ? 'Interno' : 'Externo' %>
</p>

<p>
  <b>Data:</b>
  <%=h @pedido.data.to_s_br %>
</p>

<p>
  <b>Previsao entrega:</b>
  <%=h @pedido.previsao_entrega.to_s_br %>
</p>

<p>
  <b>Entrega:</b>
  <%=h @pedido.entrega.to_s_br %>
</p>

<p>
  <b>Programacao:</b>
  <%=h @pedido.programacao.to_s_br %>
</p>

<p>
  <b>Cliente:</b>
  <%=h @pedido.cliente.razao_social if @pedido.cliente %>
</p>

<p>
  <b>Acrescimo:</b>
  <%=h @pedido.acrescimo.to_extenso_real if @pedido.acrescimo %>
</p>

<p>
  <b>Desconto:</b>
  <%=h @pedido.desconto.to_extenso_real if @pedido.desconto %>
</p>

<p>
  <b>Transportadora:</b>
  <%=h @pedido.transportadora.razao_social if @pedido.transportadora %>
</p>

<p>
  <b>Comprador:</b>
  <%=h @pedido.nome_comprador %>
</p>

<p>
  <b>Observacao:</b>
  <%=h @pedido.observacao %>
</p>

<p>
  <b>Endereco entrega:</b>
  <%=h @pedido.endereco_entrega %>
</p>

<p>
  <b>Minuta:</b>
  <%=h @pedido.minuta_id %>
</p>

<p>
  <b>Area:</b>
  <%=h @pedido.area.descricao if @pedido.area %>
</p>

<p>
  <b>Operador:</b>
  <%=h @pedido.operador.nome if @pedido.operador%>
</p>

<p>
  <b>Telemarketing:</b>
  <%=h @pedido.telemarketing_id %>
</p>

<p>
  <b>Empresa:</b>
  <%=h @pedido.empresa_id == 1 ? 'TUBFORM' : 'MADEFORM' %>
</p>

<p>
  <b>Status:</b>
  <%=h  @pedido.status %>
  </p>

<p>
  <b>Estorno:</b>
  <%=h @pedido.estorno %>
</p>

<p>
  <b>Operador estorno:</b>
  <%=h @pedido.operador_estorno_id %>
</p>

<p>
  <b>Comissao vendedor:</b>
  <%=h @pedido.comissao_vendedor %>
</p>

<p>
  <b>Comissao telemarketing:</b>
  <%=h @pedido.comissao_telemarketing %>
</p>

<p>
  <b>Venda externa:</b>
  <%=h @pedido.venda_externa == 'true' ? 'Sim' : 'Não' %>
</p>

<p>
  <b>Desconto complementar:</b>
  <%=h @pedido.desconto_complementar %>
</p>

<% if @pedido.data_aprovacao_pedido %>
	<p>
		<b>Autorizador:</b>
		<%=h @pedido.autorizador.nome if @pedido.autorizador %>
	</p>

	<p>
		<b>Data de Aprovação do Pedido:</b>
		<%=h @pedido.data_aprovacao_pedido %>
	</p>
<% end %>

<%#= link_to 'Alterar', edit_pedido_path(@pedido) %> |
<%#= link_to 'Voltar', pedidos_path %> |
<%#= link_to 'Aprovar', :action => :aprovar, :id => @pedido.id %> |
<%#= link_to 'Comissão Acordada', :action => :comissao_acordada, :id => @pedido.id %> |
<%#= link_to 'Desconto', :action => :permitir_desconto_no_pedido, :id => @pedido.id %><br/><br/>
<table with="100%" border="1">
  <tr>
       <th colspan="9">Itens do Pedido</th>
  </tr>
  <tr>
       <th>Codigo</th>
       <th>Descrição</th>
       <th align="center">Qtde</th>
       <th>Valor Tabela</th>
       <th>% Desconto</th>
       <th>Valor Venda</th>
       <th>Subtotal</th>
       <th colspan="2">Opções</th>
  </tr>

<% total = 0 %>
<% for i in @pedido.item_pedidos %>
  <%  subtotal = i.quantidade * (i.valor_tabela  - (i.valor_tabela * i.desconto)/100) if (i.quantidade && i.valor_tabela && i.desconto) %>
  <% total += subtotal if subtotal %>
    <tr>
      <td align="center"><%= i.produto_id  %></td>
      <td><%= i.produto.descricao  %></td>
      <td align="center"><%= i.quantidade.to_i if i.quantidade  %></td>
      <td align="right"><%= i.valor_tabela.real.real_formatado if i.valor_tabela %></td>
      <td align="right"><%= i.desconto.to_s + ' %'  if i.desconto %></td>
      <td align="right"><%= i.valor_venda.real.real_formatado if i.valor_venda  %></td>
      <td align="right"><%= subtotal.real.real_formatado if subtotal.real.real_formatado %></td>
      <td><%= link_to 'Editar', :controller => :item_pedidos, :action => :edit, :id => i.id %></td>
      <td><%= link_to 'Excluir', i, :confirm => "Excluir Item #{i.id}, Confirma?", :method => :delete %></td>
    </tr>
<% end %>

    <tr bgcolor="#EAAA0C">
      <td colspan="5" align="right"><b>Valor Total do Pedido:</b></td>
      <td colspan="2" align="right"><b><span id="total_pedido"><%= total.real.real_formatado if total.real.real_formatado %></span></b></td>
      <td colspan="2" align="center"><%= link_to '<b>Adiciona Item</b>', :controller => 'item_pedidos', :action => 'new', :id => @pedido.id %>
    </tr>
</table>
<br/><br/>

<p>
  <b>Total do Pedido: <%= @pedido.valor.real.real_formatado if @pedido.valor %></b>
</p>

<p>
  <b>Valor do desconto ponderado: <%= @pedido.desconto_acumulado_geral if @pedido.desconto_acumulado_geral %>%</b>
</p>


<p>
  <b>Comissão do vendedor: <%= @pedido.comissao_vendedor if @pedido.comissao_vendedor %>%</b>
</p>



<% if @pedido.data_aprovacao_pedido %>
 <%= button_to 'Desaprovar Pedido', :action => :desaprovar, :id => @pedido.id %>
<% else %>
 <%= button_to 'Aprovar Pedido', :action => :aprovar, :id => @pedido.id %>
<% end %>
<%= button_to 'Alterar comissão', :action => :comissao_acordada, :id => @pedido.id %>
<%= button_to 'Desconto', :action => :permitir_desconto_no_pedido, :id => @pedido.id %>


<%= button_to 'Alterar Data Entrega', :action => :alterar_data_entrega_pedido, :id => @pedido.id %>

<%= link_to 'Voltar', pedidos_path %>

