<h1>Editing duplicata</h1>

<% form_for(@duplicata) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :plano_de_conta_id %><br />
    <%= f.text_field :plano_de_conta_id %>
  </p>
  <p>
    <%= f.label :tipo_cobranca %><br />
    <%= f.text_field :tipo_cobranca %>
  </p>
  <p>
    <%= f.label :data_emissao %><br />
    <%= f.date_select :data_emissao %>
  </p>
  <p>
    <%= f.label :data_vencimento %><br />
    <%= f.date_select :data_vencimento %>
  </p>
  <p>
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </p>
  <p>
    <%= f.label :cliente_id %><br />
    <%= f.text_field :cliente_id %>
  </p>
  <p>
    <%= f.label :pedido_id %><br />
    <%= f.text_field :pedido_id %>
  </p>
  <p>
    <%= f.label :nome_devedor %><br />
    <%= f.text_field :nome_devedor %>
  </p>
  <p>
    <%= f.label :devedor_id %><br />
    <%= f.text_field :devedor_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @duplicata %> |
<%= link_to 'Back', duplicatas_path %>

