<h1>Listando itens_pedido_de_assistencia</h1>

<table>
  <tr>
    <th>Produto</th>
    <th>Quantidade</th>
    <th>Valor</th>
    <th>Sequencia monvimento</th>
    <th>Emite relatorio</th>
    <th>Codigo produto kit</th>
    <th>Justificativa</th>
    <th>Componente</th>
    <th>Motivo</th>
  </tr>

<% @itens_pedido_de_assistencia.each do |item_pedido_de_assistencia| %>
  <tr>
    <td><%=h item_pedido_de_assistencia.produto %></td>
    <td><%=h item_pedido_de_assistencia.quantidade %></td>
    <td><%=h item_pedido_de_assistencia.valor %></td>
    <td><%=h item_pedido_de_assistencia.sequencia_monvimento %></td>
    <td><%=h item_pedido_de_assistencia.emite_relatorio %></td>
    <td><%=h item_pedido_de_assistencia.codigo_produto_kit %></td>
    <td><%=h item_pedido_de_assistencia.justificativa %></td>
    <td><%=h item_pedido_de_assistencia.usa_componente %></td>
    <td><%=h item_pedido_de_assistencia.motivo_id %></td>
    <td><%= link_to 'Mostrar', item_pedido_de_assistencia %></td>
    <td><%= link_to 'Editar', edit_item_pedido_de_assistencia_path(item_pedido_de_assistencia) %></td>
    <td><%= link_to 'Excluir', item_pedido_de_assistencia, :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo item_pedido_de_assistencia', new_item_pedido_de_assistencia_path %>
