<h1>New item_pedido_de_assistencia</h1>
<% form_for(@item_pedido_de_assistencia) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :produto_id, 'Produto' %><br />
    <%= f.select :produto_id, @produtos, :prompt => "" %>
  </p>
  <p>
    <%= f.label :quantidade %><br />
    <%= f.text_field :quantidade %>
  </p>
  <p>
    <%= f.label :usa_componente %><br />
    <%= f.check_box :usa_componente %>
  </p>
  
  <div id="div_componente"> </div> 

  <p>
    <%= f.label :motivo_id %><br />
    <%= f.text_field :motivo_id %>
  </p>

  <p>
    <%= f.label :justificativa %><br />
    <%= f.text_field :justificativa %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
  <p>
  <%= observe_field :item_pedido_de_assistencia_usa_componente,
      :update => 'div_componente',
      :url => {:action => 'usando_o_componente'},
      :with => :produto_id %>
<% end %>

<%= link_to 'Back', itens_pedido_de_assistencia_path %>


