<p>
  <b>Produto:</b>
  <%=h @item_pedido_de_assistencia.produto %>
</p>

<p>
  <b>Quantidade:</b>
  <%=h @item_pedido_de_assistencia.quantidade %>
</p>

<p>
  <b>Valor:</b>
  <%=h @item_pedido_de_assistencia.valor %>
</p>

<p>
  <b>Sequencia monvimento:</b>
  <%=h @item_pedido_de_assistencia.sequencia_monvimento %>
</p>

<p>
  <b>Emite relatorio:</b>
  <%=h @item_pedido_de_assistencia.emite_relatorio %>
</p>

<p>
  <b>Codigo produto kit:</b>
  <%=h @item_pedido_de_assistencia.codigo_produto_kit %>
</p>

<p>
  <b>Justificativa:</b>
  <%=h @item_pedido_de_assistencia.justificativa %>
</p>

<p>
  <b>Componente:</b>
  <%=h @item_pedido_de_assistencia.usa_componente %>
</p>

<p>
  <b>Motivo:</b>
  <%=h @item_pedido_de_assistencia.motivo_id %>
</p>


<%= link_to 'Editar', edit_item_pedido_de_assistencia_path(@item_pedido_de_assistencia) %> |
<%= link_to 'Voltar', itens_pedido_de_assistencia_path %>
