<% form_for(@item_nota_fiscal) do |f| %>
  <%= f.error_messages %>

    <%= f.hidden_field(:nota_fiscal_id) %>

 <h2>Adicionar ítem a Nota <%= params[:id] %></h2>
<p>
  <%= f.label :produto_id, 'Produto' %><br />
  <%= f.select :produto_id, Produto.find(:all).collect { |p| [ p.descricao, p.id ] }, :prompt => "" %>
</p>
<p>
  <%= f.label :unidade, 'Unidade' %><br />
  <%= f.text_field :unidade %>
</p>
<p>
  <%= f.label :quantidade, 'Quantidade' %><br />
  <%= f.text_field :quantidade %>
</p>
<p>
  <%= f.label :valor_item, 'Valor Item' %><br />
  <%= f.text_field :valor_item %>
</p>

<p>
  <%= f.label :perc_ipi, 'Perc. IPI' %><br />
  <%= f.text_field :perc_ipi %>
</p>
<p>
  <%= f.label :perc_icms, 'Perc. ICMS' %><br />
  <%= f.text_field :perc_icms %>
</p>

<div id="detalhe_produto">
</div>

<%= observe_field :item_nota_fiscal_produto_id,
   :update => "detalhe_produto",
   :url => "/itens_nota_fiscal/detalhe",
   :with => :item_nota_fiscal_produto_id %>

  <p>
    <%= f.submit @item_nota_fiscal.new_record? ? 'Salvar' : 'Atualizar' %>
  </p>

<% end %>
