<% form_for(@produto) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descricao, 'Descrição' %><br />
    <%= f.text_field :descricao %>
  </p>

  <p>
    <%= f.label :valor_normal, 'Valor Normal' %><br />
    <%= f.text_field :valor_normal %>
  </p>

    <p>
      <%= f.label :valor_especial, 'Valor Especial' %><br />
      <%= f.text_field :valor_especial %>
    </p>

  <p>
    <%= f.submit @produto.new_record? ? 'Criar' : 'Atualizar' %>
  </p>

<% end %>