<h1>New acao</h1>

<% form_for(@acao) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :controller_name %><br />
    <%= f.text_field :controller_name %>
  </p>
  <p>
    <%= f.label :action_name %><br />
    <%= f.text_field :action_name %>
  </p>
  <p>
<<<<<<< HEAD:app/views/acoes/new.html.erb
    <%= f.submit 'Salvar' %>
=======
    <%= f.submit 'Create' %>
>>>>>>> b26cf7bc7d5bc404f04fd842574cacc7c663a537:app/views/acoes/new.html.erb
  </p>
<% end %>

<%= link_to 'Back', acoes_path %>