<h1>Nova faixa_de_desconto</h1>

<% form_for(@faixa_de_desconto) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :de %><br />
    <%= f.text_field :de %>
  </p>
  <p>
    <%= f.label :ate %><br />
    <%= f.text_field :ate %>
  </p>
  <p>
    <%= f.label :desconto_permitido %><br />
    <%= f.text_field :desconto_permitido %>
  </p>
  <p>
    <%= f.submit 'Criar' %>
  </p>
<% end %>

<%= link_to 'voltar', faixas_de_desconto_path %>
