<p>
  <b>De:</b>
  <%=h @faixa_de_desconto.de %>
</p>

<p>
  <b>Ate:</b>
  <%=h @faixa_de_desconto.ate %>
</p>

<p>
  <b>Desconto permitido:</b>
  <%=h @faixa_de_desconto.desconto_permitido %>
</p>


<%= link_to 'Edit', edit_faixa_de_desconto_path(@faixa_de_desconto) %> |
<%= link_to 'Back', faixas_de_desconto_path %>