<h1>Listando componentes_pedido_de_assistencia</h1>

<table>
  <tr>
    <th>Pedido</th>
    <th>Produto</th>
    <th>Quantidade</th>
    <th>Valor</th>
    <th>Sequencia movimento</th>
    <th>Emite relatorio</th>
    <th>Produto</th>
    <th>Justificativa</th>
    <th>Motivo</th>
    <th>Componente</th>
  </tr>

<% @componentes_pedido_de_assistencia.each do |componente_pedido_de_assistencia| %>
  <tr>
    <td><%=h componente_pedido_de_assistencia.pedido_id %></td>
    <td><%=h componente_pedido_de_assistencia.produto %></td>
    <td><%=h componente_pedido_de_assistencia.quantidade %></td>
    <td><%=h componente_pedido_de_assistencia.valor %></td>
    <td><%=h componente_pedido_de_assistencia.sequencia_movimento %></td>
    <td><%=h componente_pedido_de_assistencia.emite_relatorio %></td>
    <td><%=h componente_pedido_de_assistencia.produto_id %></td>
    <td><%=h componente_pedido_de_assistencia.justificativa %></td>
    <td><%=h componente_pedido_de_assistencia.motivo_id %></td>
    <td><%=h componente_pedido_de_assistencia.componente %></td>
    <td><%= link_to 'Mostrar', componente_pedido_de_assistencia %></td>
    <td><%= link_to 'Editar', edit_componente_pedido_de_assistencia_path(componente_pedido_de_assistencia) %></td>
    <td><%= link_to 'Excluir', componente_pedido_de_assistencia, :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo componente_pedido_de_assistencia', new_componente_pedido_de_assistencia_path %>
