<h1>New componente_pedido_de_assistencia</h1>

<% form_for(@componente_pedido_de_assistencia) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :pedido_id %><br />
    <%= f.text_field :pedido_id %>
  </p>
  <p>
    <%= f.label :produto %><br />
    <%= f.text_field :produto %>
  </p>
  <p>
    <%= f.label :quantidade %><br />
    <%= f.text_field :quantidade %>
  </p>
  <p>
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </p>
  <p>
    <%= f.label :sequencia_movimento %><br />
    <%= f.text_field :sequencia_movimento %>
  </p>
  <p>
    <%= f.label :emite_relatorio %><br />
    <%= f.check_box :emite_relatorio %>
  </p>
  <p>
    <%= f.label :produto_id %><br />
    <%= f.text_field :produto_id %>
  </p>
  <p>
    <%= f.label :justificativa %><br />
    <%= f.text_field :justificativa %>
  </p>
  <p>
    <%= f.label :motivo_id %><br />
    <%= f.text_field :motivo_id %>
  </p>
  <p>
    <%= f.label :componente %><br />
    <%= f.check_box :componente %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', componentes_pedido_de_assistencia_path %>