<p>
  <b>Pedido:</b>
  <%=h @componente_pedido_de_assistencia.pedido_id %>
</p>

<p>
  <b>Produto:</b>
  <%=h @componente_pedido_de_assistencia.produto %>
</p>

<p>
  <b>Quantidade:</b>
  <%=h @componente_pedido_de_assistencia.quantidade %>
</p>

<p>
  <b>Valor:</b>
  <%=h @componente_pedido_de_assistencia.valor %>
</p>

<p>
  <b>Sequencia movimento:</b>
  <%=h @componente_pedido_de_assistencia.sequencia_movimento %>
</p>

<p>
  <b>Emite relatorio:</b>
  <%=h @componente_pedido_de_assistencia.emite_relatorio %>
</p>

<p>
  <b>Produto:</b>
  <%=h @componente_pedido_de_assistencia.produto_id %>
</p>

<p>
  <b>Justificativa:</b>
  <%=h @componente_pedido_de_assistencia.justificativa %>
</p>

<p>
  <b>Motivo:</b>
  <%=h @componente_pedido_de_assistencia.motivo_id %>
</p>

<p>
  <b>Componente:</b>
  <%=h @componente_pedido_de_assistencia.componente %>
</p>


<%= link_to 'Edit', edit_componente_pedido_de_assistencia_path(@componente_pedido_de_assistencia) %> |
<%= link_to 'Back', componentes_pedido_de_assistencia_path %>