<% form_for(@item_pedido) do |f| %>
  <%= f.error_messages %>

    <%= f.hidden_field(:pedido_id) %>

 <h2>Adicionar ítem ao pedido <%= params[:id] %></h2>
<p>
  <%= f.label :produto_id, 'Produto' %><br />
  <%= f.select :produto_id, @produtos, :prompt => "" %>
</p>

<p>
  <%= f.label :valor_tabela, 'Valor de tabela' %><br />
  <%= f.text_field :valor_tabela  %>
</p>

<p>
  <%= f.label :desconto, 'Percentual de desconto' %><br />
  <%= f.text_field :desconto  %>
</p>

<p>
  <%= f.label :valor_venda, 'Valor de Venda' %><br />
  <%= f.text_field :valor_venda  %>
</p>

<p>
  <%= f.label :quantidade %> <br/>
  <%= f.text_field :quantidade %>
</p>
<%= observe_field :item_pedido_produto_id,
   :update => "valor_venda",
   :url => "/item_pedidos/detalhe",
   :with => :valor_venda %>

<div id="detalhe_produto">
</div>

  <p>
    <%= f.submit 'Salvar' %>
  </p>

<% end %>