<h1>Listing motivos_assistencia</h1>

<table>
  <tr>
    <th>Descricao</th>
  </tr>

<% @motivos_assistencia.each do |motivo_assistencia| %>
  <tr>
    <td><%=h motivo_assistencia.descricao %></td>
    <td><%= link_to 'Show', motivo_assistencia %></td>
    <td><%= link_to 'Edit', edit_motivo_assistencia_path(motivo_assistencia) %></td>
    <td><%= link_to 'Destroy', motivo_assistencia, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New motivo_assistencia', new_motivo_assistencia_path %>