<h1>Novo motivo_assistencia</h1>

<% form_for(@motivo_assistencia) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </p>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>

<%= link_to 'Voltar', motivos_assistencia_path %>
