<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Título do sistema</title>
  <%= stylesheet_link_tag '../javascripts/ext/resources/css/ext-all' %>
  <%= stylesheet_link_tag '../javascripts/ext/resources/css/xtheme-gray' %>
  <%= stylesheet_link_tag 'principal' %>
  <%= javascript_include_tag 'ext/adapter/ext/ext-base' %>
  <%= javascript_include_tag 'ext/ext-all-debug' %>
  <%= javascript_include_tag 'ext/build/locale/ext-lang-pt_BR-min' %>
  <%= javascript_include_tag 'principal' %>
  <%= javascript_include_tag 'jjworks/jwindow' %>
  <%= javascript_include_tag 'jjworks/jstore' %>
  <%= javascript_include_tag 'jjworks/jcrudpagingtoolbar' %>
  <%= javascript_include_tag 'jjworks/jgrid' %>
  <%= javascript_include_tag 'jjworks/jactioncreate' %>
  <%= javascript_include_tag 'jjworks/jactionsave' %>
  <%= javascript_include_tag 'jjworks/jactionupdate' %>
  <%= javascript_include_tag 'jjworks/jactiondestroy' %>
  <%= javascript_include_tag 'jjworks/jactionedit' %>
  <%= javascript_include_tag 'jjworks/jactioninspect' %>
</head>
<body>


 <% if flash[:notice] %>
  <p style="color: green"><%= flash[:notice] %></p>
 <% end %>
 <% if flash[:error] %>
  <p style="color: red"><%= flash[:error] %></p>
 <% end %>
 <%= yield %>
</body>
</html>

